<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jianbian.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F595F2F91CEB1602000BDE3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F595F3121CEB1602000BDE3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F595F31D1CEB1602000BDE3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
